@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ActionBar {
    @apply bg-primary text-white;
  }

  .btn {
    @apply px-4 py-3 font-bold text-neutral rounded-lg bg-neutral-content;
    height: 3rem;
  }

  .btn-neutral {
    @apply text-neutral-content bg-neutral;
  }

  .btn-primary {
    @apply text-primary-content bg-primary;
  }

  .btn-secondary {
    @apply text-secondary-content bg-secondary;
  }

  .btn-accent {
    @apply text-accent-content bg-accent;
  }

  .btn-ghost {
    @apply text-neutral bg-transparent;
  }

  .btn-link {
    @apply text-primary bg-transparent px-0 py-0;
  }

  .btn-info {
    @apply text-info-content bg-info;
  }
  .btn-success {
    @apply text-success-content bg-success;
  }
  .btn-warning {
    @apply text-warning-content bg-warning;
  }
  .btn-error {
    @apply text-error-content bg-error;
  }

  .btn-outline {
    @apply border-4 border-neutral bg-transparent;
  }
  .btn-outline.btn-primary {
    @apply text-primary border-primary border-4 bg-transparent;
  }
  .btn-outline.btn-secondary {
    @apply text-secondary border-secondary border-4 bg-transparent;
  }
  .btn-outline.btn-accent {
    @apply text-accent border-accent border-4 bg-transparent;
  }

  .btn-outline.btn-info {
    @apply text-info border-info border-4 bg-transparent;
  }
  .btn-outline.btn-success {
    @apply text-success border-success border-4 bg-transparent;
  }
  .btn-outline.btn-warning {
    @apply text-warning border-warning border-4 bg-transparent;
  }
  .btn-outline.btn-error {
    @apply text-error border-error border-4 bg-transparent;
  }

  .btn-xs {
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-height: 1.5rem;
    font-size: 0.75rem;
  }
  .btn-sm {
    height: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    min-height: 2rem;
    font-size: 0.875rem;
  }
  .btn-lg {
    height: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-height: 4rem;
    font-size: 1.125rem;
  }
  .input {
    @apply bg-base-100 rounded-xl placeholder:text-shark-300 text-shark-500 focus:border-4 focus:border-shark-400 px-2;
    height: 3rem;
  }

  .input-bordered {
    @apply border-shark-400 border-2;
  }

  .input-ghost {
    @apply bg-transparent;
  }

  .input-primary {
    @apply border-primary border-2 focus:border-4 focus:border-primary;
  }
  .input-secondary {
    @apply border-secondary border-2 focus:border-4 focus:border-secondary;
  }
  .input-accent {
    @apply border-accent border-2 focus:border-4 focus:border-accent;
  }
  .input-info {
    @apply border-info border-2 focus:border-4 focus:border-info;
  }
  .input-success {
    @apply border-success border-2 focus:border-4 focus:border-success;
  }
  .input-warning {
    @apply border-warning border-2 focus:border-4 focus:border-warning;
  }
  .input-error {
    @apply border-error border-2 focus:border-4 focus:border-error;
  }
  .input-xs {
    @apply rounded-lg;
    height: 1.5rem;
    font-size: 0.75rem;
  }
  .input-sm {
    @apply rounded-lg;
    height: 2rem;
    font-size: 0.875rem;
  }
  .input-lg {
    height: 4rem;
    font-size: 1.125rem;
  }
  .textView {
    @apply bg-base-100 rounded-xl placeholder:text-shark-300 text-shark-500 focus:border-4 focus:border-shark-400 px-2;
  }

  .textView-bordered {
    @apply border-shark-400 border-2;
  }

  .textView-ghost {
    @apply bg-transparent;
  }

  .textView-primary {
    @apply border-primary border-2 focus:border-4 focus:border-primary;
  }
  .textView-secondary {
    @apply border-secondary border-2 focus:border-4 focus:border-secondary;
  }
  .textView-accent {
    @apply border-accent border-2 focus:border-4 focus:border-accent;
  }
  .textView-info {
    @apply border-info border-2 focus:border-4 focus:border-info;
  }
  .textView-success {
    @apply border-success border-2 focus:border-4 focus:border-success;
  }
  .textView-warning {
    @apply border-warning border-2 focus:border-4 focus:border-warning;
  }
  .textView-error {
    @apply border-error border-2 focus:border-4 focus:border-error;
  }
  .textView-xs {
    @apply rounded-lg;
    font-size: 0.75rem;
  }
  .textView-sm {
    @apply rounded-lg;
    font-size: 0.875rem;
  }
  .textView-lg {
    font-size: 1.125rem;
  }
}

.fab {
  font-family: "Font Awesome 6 Brands", "fa-brands-400";
  font-weight: 400;
}

.far {
  font-family: "Font Awesome 6 Free", "fa-regular-400";
  font-weight: 400;
}

.fas {
  font-family: "Font Awesome 6 Free", "fa-solid-900";
  font-weight: 900;
}
